@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500&family=Nunito:wght@200;300;400;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap");
@charset "UTF-8";

html {
    overflow-x: hidden;
}

.page-body {
    background: rgba(red, green, blue, alpha);
}

/* Spacings & Headings */
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-120 {
    padding-top: 120px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-120 {
    padding-bottom: 120px;
}

.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-120 {
    margin-top: 120px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-120 {
    margin-bottom: 120px;
}

.heading-16 {
    font: normal 16px/1.5 Montserrat;
}
.heading-20 {
    font: normal 20px/1.2 Montserrat;
}
.heading-24 {
    font: bold 24px/1.33 Raleway;
}
.heading-32 {
    font: normal 32px/1 Montserrat;
    margin-bottom: 30px;
}
.heading-40 {
    font: normal 40px/1.2 Montserrat;
}
.heading-42 {
    font: normal 42px/1.4 Montserrat;
}
.heading-44 {
    font: normal 44px/1.6 Montserrat;
}

/* Page Heading */
.page-heading-16 {
    font: bold 16px/1.5 Raleway;
}
.page-heading-20 {
    font: bold 20px/1.2 Raleway;
}
.page-heading-24 {
    font: bold 24px/1.33 Raleway;
}
.page-heading-32 {
    font: bold 32px/1 Raleway;
}
.page-heading-40 {
    font: bold 40px/1.2 Raleway;
}
.page-heading-42 {
    font: bold 42px/1.4 Raleway;
}
/* Input Style */

.total_amount {
    border: 2px solid #00b52a;
    color: #00b52a;
}

/* Information */

.details {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

.note {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: lighter;
    margin-left: 5px;
}

.table-total {
    background-color: #38c172;
    font-weight: bolder;
}

.full-breakdown,
.semestral-breakdown,
.quarterly-breakdown,
.monthly-breakdown {
    display: none;
}

/* Main nav */
.main-nav {
    height: 80px;
}
.main-nav a {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    margin: 0 5px 0 5px;
}
.main-nav .navbar-nav .nav-link {
    background: linear-gradient(to bottom, #f39237 0%, #f39237 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0 0;
    text-decoration: none;
    transition: background-size 0.4s;
}
.main-nav .navbar-nav .nav-link:hover {
    background-size: 4px 50px;
    color: #000000;
}

.main-nav .responsive-nav-links {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}
.main-nav .responsive-nav-links .responsive-close {
    color: #000000;
    font-size: 30px;
    float: right;
    padding: 0 10px;
    text-decoration: none;
}
.main-nav .responsive-nav-links ul {
    padding-top: 30px;
}
.main-nav .responsive-nav-links .nav-link {
    color: #000000;
    font: 20px/1.5 Raleway;
    font-weight: 600;
    padding-left: 15px;
    text-transform: uppercase;
    text-align: left;
}
.first-nav {
    height: 40px;
    padding: 5px;
}

/* Blocks */
.left-divide {
    padding: 120px 50px 90px 50px;
    align-content: center;
    align-items: center;
}
.right-divide {
    padding: 50px;
    align-content: center;
}
.right-divide img {
    max-width: 100%;
    height: auto;
}
.contact-details a {
    margin-top: 60px;
    margin-bottom: 60px;
}

.admin_home {
    align-content: center;
    align-items: center;
}
.admin-icon {
    font-size: 34px;
}

/* Button placement */
.bottom-left {
    text-align: center;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 0;
}

/* Card image */
.card-image {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff9b54;
    color: #ffffff;
    padding: 8px;
    font: bolder 15px Raleway;
    text-transform: uppercase;
}

.p-label {
    color: #ffffff;
    padding: 4px;
}

.start-date {
    background-color: #48a9a6;
}

.end-date {
    padding: 4px 12px 4px 12px;
    background-color: #c1666b;
}

.tag {
    margin: 0;
    position: absolute;
    top: -10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(96, 158, 252, 0.404);
    color: #000000;
    padding: 5px 5px 5px 5px;
    font: bolder 13px Raleway;
    text-transform: uppercase;
}

.container-footer {
    height: 50px;
    background: url(../images/bg.png) repeat;
}

/* add */
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
/* Add a card effect for articles */
.post-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.post-card img {
    max-width: 100%;
    height: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.date {
    font: bolder 19px Raleway;
    color: #1200af;
    text-transform: uppercase;
}

.tiny-text {
    font: bolder 13px Raleway;
    border-left: 10px solid rgb(82, 93, 253);
    background-color: rgb(141, 198, 252);
}
.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

.about img {
    max-width: 100%;
    height: auto;
}
.about .mission {
    padding-top: 50px;
    padding-bottom: 50px;
    border: groove;
}
.about .mission p {
    font: lighter 22px Raleway;
    text-align: right;
}
.about .vision {
    padding-top: 50px;
    padding-bottom: 50px;
    border: groove;
}
.about .vision p {
    font: lighter 22px Raleway;
    text-align: left;
}

/* Logo */
.logo-50 {
    max-width: 50px;
    height: auto;
}
.logo-100 {
    max-width: 100px;
    height: auto;
}
.logo-200 {
    max-width: 200px;
    height: auto;
}
.logo-300 {
    max-width: 300px;
    height: auto;
}

/* Hero Image */
.hero-image {
    margin-top: 0;
    padding-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../sra/5.jpg") no-repeat;
    height: 300px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font: bold 20px Roboto;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px;
    border-top: solid 10px #ff9b54;
}

#announcement-block a {
    text-decoration: none;
}

footer {
    font: normal 15px Raleway;
}
footer li {
    margin-top: 5px;
}
footer a {
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    text-decoration: none;
}
footer .footer-header {
    font: bold 20px Montserrat;
    color: #f0c847f8;
    text-transform: uppercase;
}
.copyright {
    font: normal 13px Raleway;
    color: #ffffff;
    text-align: center;
}

/* Announcement Card */
.announce-card {
    position: relative;
}
.announce-fluid {
    background-color: #ffffff;
    background-size: fill;
    min-width: 100%;
    position: relative;
}
.announce-fluid:after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    height: 0;
    width: 0;
    border-right: 100vw solid #ffffff;
    border-bottom: 9vw solid transparent;
    border-top: 0px solid transparent;
}

.announce-card img {
    height: 30vh;
    object-fit: fill;
}
.announce-card .card-body {
    height: 40vh;
}
.announce-card .read_more {
    color: #e28011f8;
    font: normal 14px Roboto;
    bottom: 30px;
    position: absolute;
    transition-timing-function: ease-in;
}
.announce-card .read_more:hover {
    margin-bottom: 5px;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}
.announce-card:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

/* HR Divider */
.divide {
    border: 2px solid #39a9db;
    margin-top: 0;
}

.d-header {
    color: #ffffff;
    background: #39a9db;
    padding: 5px 10px 5px 10px;
}

/* About Block */
.about-fluid {
    background-color: #dcfaff;
}
#about-block {
    margin-top: 0;
    padding-top: 0;
    min-height: 500px;
    min-width: 100%;
}
.photo-col img {
    filter: opacity(80%);
    padding-top: 90px;
    max-width: 95%;
    height: auto;
}
.photo-col img:hover {
    filter: opacity(100%);
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}
.about-col {
    margin-top: 290px;
}
.about-col p {
    margin-top: 25px;
    font: normal 20px Raleway;
    line-height: 1.5em;
}
.about-col .vision-row {
    padding-top: 100px;
}
.iconWrapper {
    margin-right: 30px;
    display: table;
    width: 70px;
    height: 70px;
    background-color: #f0c847f8;
    border-radius: 999px;
}
.iconWrapper i {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* About Page */
.mission-card,
.vision-card {
    border: var(--color) solid 10px;
    height: 50vh;
    position: relative;
    --color: #f0c847f8;
}
.mission-card h4,
.vision-card h4 {
    text-align: center;
}
.vision-card:hover,
.mission-card:hover {
    --color: #39a9db;
    border: var(--color) solid 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
}
.mission-card p,
.vision-card p {
    font: normal 16px Roboto;
    line-height: 2em;
}
.iconWrapper-about {
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    width: 70px;
    height: 70px;
    background-color: var(--color);
    transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
}
.iconWrapper-about i {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Announcement Page */
#announcement-block .announce-card a {
    text-decoration: none;
}
.a-image {
    margin-top: 0;
    padding-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../sra/DSC_0280.jpg") center no-repeat;
    height: 300px;
}
.a-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font: bold 20px Roboto;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px;
    border-top: solid 10px #ff9b54;
}
.highlight-p {
    font: normal 16px Roboto;
    line-height: 1.5em;
}
#show-post .show-p {
    font: normal 18px Raleway;
    line-height: 1.5em;
    text-align: justify;
    padding: 20px;
}
.show-socials {
    text-align: right;
}
.show-socials li {
    display: inline-flex;
}
.iconWrapper-show {
    text-align: end;
    position: relative;
    display: table;
    width: 20px;
    height: 20px;
    background-color: #000000;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}
.iconWrapper-show:hover {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
}
.iconWrapper-show i {
    font-size: 16px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}
/* Contacts */
.c-image {
    margin-top: 0;
    padding-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../sra/map.jpg") center no-repeat;
    background-size: cover;
    height: 300px;
}
.c-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font: bold 20px Roboto;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px;
    border-top: solid 10px #ff9b54;
}
#map {
    height: 50px;
    background: url("../sra/map.png") repeat;
}
/* Registration Font */
.top-navlink {
    font: bolder 13px Montserrat;
    text-transform: uppercase;
    color: #000000;
}
